Repository Dongjeop-lab/dongjeop-front, changes with the labels that .github/labeler.yml gives for each.
All labels: upload, labeling, contribution, api, ui, pages, types, hooks, utils, styles, config, documentation, deployment, test, assets

feat: /label/upload 쿼리파라미터 처리 헬퍼 함수 추가
  src/lib/queryParams.ts
  src/types/common.ts
Labels: types, utils, config, documentation

feat: 업로드 페이지 생성 및 쿼리 파라미터 전달
  src/app/label/upload/page.tsx
  src/features/upload/page.tsx
Labels: upload, labeling, pages, config, documentation

feat: CA 인증서 문제 완전 해결을 위한 종합 솔루션 적용
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

security: insecure 모드 제거 및 CA 인증서 보안 강화
  .github/workflows/deploy.yml
  src/app/page.tsx
Labels: pages, config, documentation, deployment

cleanup: 워크플로우 불필요한 디버깅 로그 정리
  .github/workflows/deploy.yml
  src/app/page.tsx
Labels: pages, config, documentation, deployment

feat: 진짜 무중단 배포 로직 구현
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

fix: 기존 컨테이너로 인한 포트 충돌 문제 해결
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

fix: 컨테이너 이름 충돌 문제 완전 해결
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

🧹 deploy.yml 워크플로우 정리 및 최적화
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

refactoring: feat/ci-cd-test 브랜치 제거
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

feat: 배포 워크플로우에 빌드 ID 환경변수 추가
  .github/workflows/deploy.yml
  src/app/page.tsx
Labels: pages, config, documentation, deployment

feat: CA 인증서 문제 완전 해결을 위한 종합 솔루션 적용
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

🧹 deploy.yml 워크플로우 정리 및 최적화
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

refactoring: feat/ci-cd-test 브랜치 제거
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

security: insecure 모드 제거 및 CA 인증서 보안 강화
  .github/workflows/deploy.yml
  src/app/page.tsx
Labels: pages, config, documentation, deployment

fix: 컨테이너 이름 충돌 문제 완전 해결
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

feat: 배포 워크플로우에 빌드 ID 환경변수 추가
  .github/workflows/deploy.yml
  src/app/page.tsx
Labels: pages, config, documentation, deployment

feat: 진짜 무중단 배포 로직 구현
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

ci: 배포 워크플로우 수정
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

cleanup: 워크플로우 불필요한 디버깅 로그 정리
  .github/workflows/deploy.yml
  src/app/page.tsx
Labels: pages, config, documentation, deployment

fix: 기존 컨테이너로 인한 포트 충돌 문제 해결
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

fix: CodeRabbit profile 설정 파싱 오류 수정 (#20)
  .coderabbit.yaml
Labels: config, documentation

fix: searchParams async 처리 및 source 값 추출 방식 수정
  src/app/label/upload/page.tsx
Labels: upload, labeling, pages, config, documentation

remove: 기본 제공 이미지 파일 제거
  public/images/file.svg
  public/images/globe.svg
  public/images/next.svg
  public/images/vercel.svg
  public/images/window.svg
Labels: config, documentation, assets

add: 피그마 계단 이미지 파일 추가
  public/images/stairs-finish-1.svg
  public/images/stairs-finish-2.svg
  public/images/stairs-upload.svg
Labels: config, documentation, assets

feat: 트랜지션 애니메이션 적용
  package-lock.json
  package.json
  src/app/label/[imageKey]/page.tsx
  src/components/ui/button-list.tsx
  src/features/label/components/label-step-layout.tsx
Labels: labeling, ui, pages, config, documentation

feat: develop update (#22)
  .dockerignore
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Dockerfile
  docker-compose.yml
  next.config.ts
  package.json
  src/app/api/client.ts
  src/app/page.tsx
Labels: api, pages, config, documentation, deployment

feat: 애니메이션 딜레이 제거
  src/app/label/[imageKey]/page.tsx
  src/features/label/components/label-step-layout.tsx
Labels: labeling, ui, pages, config, documentation

feat: button Animation 고도화
  src/components/ui/bottom-cta.tsx
Labels: ui, config, documentation

fix: finish 주소 수정
  src/app/label/[imageKey]/page.tsx
Labels: labeling, pages, config, documentation

chore: tanstack query 설치
  package-lock.json
  package.json
Labels: config, documentation

feat: tanstack query provider 적용
  src/app/layout.tsx
  src/contexts/tanstack-query-provider.tsx
Labels: pages, config, documentation

feat: Tanstack Query 설치 (#24)
  package-lock.json
  package.json
  src/app/layout.tsx
  src/contexts/tanstack-query-provider.tsx
Labels: pages, config, documentation

fix: add peer dependencies to package-lock.json
  package-lock.json
Labels: config, documentation

feat: useUpdateLabel hook 추가
  src/hooks/use-update-label.ts
Labels: hooks, config, documentation

feat: update label type 추가
  src/types/api/label.ts
Labels: api, types, config, documentation

feat: path 상수화
  src/app/label/[imageKey]/page.tsx
  src/lib/path.ts
Labels: labeling, pages, utils, config, documentation

feat: 핸들러 함수 분리
  src/features/label/components/label-step/label-step1.tsx
Labels: labeling, ui, config, documentation

fix: step 안정성 강화
  src/app/label/[imageKey]/page.tsx
Labels: labeling, pages, config, documentation

feat: 사진 미등록화면 UI 구현
  public/images/finish/stairs-finish-1.svg
  public/images/finish/stairs-finish-2.svg
  public/images/upload/check.svg
  public/images/upload/icon-hammer.svg
  public/images/upload/stairs-upload.svg
  public/images/upload/tooltip.svg
  public/images/upload/upload-guide-1.svg
  public/images/upload/upload-guide-2.svg
  public/images/upload/upload-guide-3.svg
  public/images/upload/x.svg
  src/features/upload/page.tsx
Labels: upload, config, documentation, assets

.github/labeler.yml:

# =============================================================================
# GitHub Auto-Labeler 설정
# PR에서 변경된 파일 경로에 따라 자동으로 라벨을 부여합니다.
# =============================================================================

# 📸 이미지 업로드 관련 기능
upload:
  - "src/features/upload/**"
  - "src/components/**/upload/**"
  - "src/app/**/upload/**"

# 📝 라벨링 관련 기능
labeling:
  - "src/features/label/**"
  - "src/components/**/label/**"
  - "src/app/label/**"

# 🏆 기여 정보 관련 기능
contribution:
  - "src/features/contribution/**"
  - "src/components/**/contribution/**"

# 🔗 API 관련
api:
  - "src/app/api/**"
  - "src/lib/api/**"
  - "src/types/api/**"

# 🎨 UI 컴포넌트
ui:
  - "src/components/**"
  - "src/features/**/components/**"

# 📄 페이지 및 라우팅
pages:
  - "src/app/**/page.tsx"
  - "src/app/**/layout.tsx"
  - "src/app/**/loading.tsx"
  - "src/app/**/error.tsx"
  - "src/app/**/not-found.tsx"

# 🎯 타입 정의
types:
  - "src/types/**"
  - "**/*.d.ts"
  - "src/**/*types.ts"
  - "src/**/*.types.ts"
  - "src/features/**/types/**"

# 🔄 커스텀 훅
hooks:
  - "src/hooks/**"
  - "src/features/**/hooks/**"

# 🛠️ 유틸리티 & 라이브러리
utils:
  - "src/lib/**"

# 🎨 스타일링
styles:
  - "src/app/globals.css"
  - "src/**/*.css"
  - "src/**/*.scss"
  - "src/**/*.module.*"
  - "tailwind.config.*"
  - "postcss.config.*"

# ⚙️ 설정 파일
config:
  - "next.config.*"
  - "package*.json"
  - "tsconfig*.json"
  - "eslint.config.*"
  - ".env*"
  - "!.env.example"

# 📚 문서 (기존 documentation 라벨 활용)
documentation:
  - "README.md"
  - "CHANGELOG*.md"
  - "docs/**"
  - "**/*.md"
  - "!README-DEPLOYMENT.md"
  - "!.github/**/*.md"

# 🚀 배포 & CI/CD
deployment:
  - ".github/workflows/**"
  - "Dockerfile*"
  - "docker-compose*"
  - "**/deploy*"
  - "README-DEPLOYMENT.md"

# 🧪 테스트
test:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/__tests__/**"
  - "test/**"
  - "tests/**"

# 🖼️ 정적 파일
assets:
  - "public/**"
  - "src/assets/**"
  - "**/*.svg"
  - "**/*.png" 
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
