Repository Dongjeop-lab/dongjeop-front, changes with the labels that .github/labeler.yml gives for each.
All labels: upload, labeling, contribution, api, ui, pages, types, hooks, utils, styles, config, documentation, deployment, test, assets

.github/labeler.yml:

# =============================================================================
# GitHub Auto-Labeler 설정
# PR에서 변경된 파일 경로에 따라 자동으로 라벨을 부여합니다.
# =============================================================================

# 📸 이미지 업로드 관련 기능
upload:
  - "src/features/upload/**"
  - "src/components/**/upload/**"
  - "src/app/**/upload/**"

# 📝 라벨링 관련 기능
labeling:
  - "src/features/label/**"
  - "src/components/**/label/**"
  - "src/app/label/**"

# 🏆 기여 정보 관련 기능
contribution:
  - "src/features/contribution/**"
  - "src/components/**/contribution/**"

# 🔗 API 관련
api:
  - "src/app/api/**"
  - "src/lib/api/**"
  - "src/types/api/**"

# 🎨 UI 컴포넌트
ui:
  - "src/components/**"
  - "src/features/**/components/**"

# 📄 페이지 및 라우팅
pages:
  - "src/app/**/page.tsx"
  - "src/app/**/layout.tsx"
  - "src/app/**/loading.tsx"
  - "src/app/**/error.tsx"
  - "src/app/**/not-found.tsx"

# 🎯 타입 정의
types:
  - "src/types/**"
  - "**/*.d.ts"
  - "src/**/*types.ts"
  - "src/**/*.types.ts"
  - "src/features/**/types/**"

# 🔄 커스텀 훅
hooks:
  - "src/hooks/**"
  - "src/features/**/hooks/**"

# 🛠️ 유틸리티 & 라이브러리
utils:
  - "src/lib/**"

# 🎨 스타일링
styles:
  - "src/app/globals.css"
  - "src/**/*.css"
  - "src/**/*.scss"
  - "src/**/*.module.*"
  - "tailwind.config.*"
  - "postcss.config.*"

# ⚙️ 설정 파일
config:
  - "next.config.*"
  - "package*.json"
  - "tsconfig*.json"
  - "eslint.config.*"
  - ".env*"
  - "!.env.example"

# 📚 문서 (기존 documentation 라벨 활용)
documentation:
  - "README.md"
  - "CHANGELOG*.md"
  - "docs/**"
  - "**/*.md"
  - "!README-DEPLOYMENT.md"
  - "!.github/**/*.md"

# 🚀 배포 & CI/CD
deployment:
  - ".github/workflows/**"
  - "Dockerfile*"
  - "docker-compose*"
  - "**/deploy*"
  - "README-DEPLOYMENT.md"

# 🧪 테스트
test:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/__tests__/**"
  - "test/**"
  - "tests/**"

# 🖼️ 정적 파일
assets:
  - "public/**"
  - "src/assets/**"
  - "**/*.svg"
  - "**/*.png" 
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"

chore: 테스트 용 더미 이미지 추가
  public/images/dummy-label-image.png
  public/images/dummy-label-image2.png
Labels: config, documentation, assets

feat: step1 제작
  src/features/label/components/label-step/label-step1.tsx
  src/features/label/types/label-option.ts
  src/lib/constants.ts
Labels: labeling, ui, types, utils, config, documentation

style: 하단 padding 추가
  src/features/label/components/label-step-layout.tsx
Labels: labeling, ui, config, documentation

fix: disable 상태일 때, 투명한 색상이 보이는 문제 해결
  src/components/ui/bottom-cta.tsx
Labels: ui, config, documentation

feat: className 추가
  src/features/label/components/label-step-layout.tsx
Labels: labeling, ui, config, documentation

feat: step2 컴포넌트 제작
  src/features/label/components/label-step/label-step2.tsx
Labels: labeling, ui, config, documentation

feat: step3 컴포넌트 제작
  src/features/label/components/label-step/label-step3.tsx
Labels: labeling, ui, config, documentation

chore: index로 스탭 묶어두기
  src/features/label/components/label-step/index.ts
Labels: labeling, ui, config, documentation

feat: API 호출 이름 변경 및 경로 수정
  src/app/api/client.ts
  src/app/page.tsx
Labels: api, pages, config, documentation

fix: LabelStep2 내 중첩 조건문 제거
  src/features/label/components/label-step/label-step2.tsx
Labels: labeling, ui, config, documentation

refactor: Not Sure 값 상수화
  src/features/label/components/label-step/label-step2.tsx
Labels: labeling, ui, config, documentation

fix: LABEL_STEP_2_OPTIONS 값, 수정
  src/features/label/components/label-step/label-step2.tsx
Labels: labeling, ui, config, documentation

feat: 라벨링 스텝 퍼블리싱 (#16)
  public/images/dummy-label-image.png
  public/images/dummy-label-image2.png
  src/components/ui/bottom-cta.tsx
  src/features/label/components/label-step-layout.tsx
  src/features/label/components/label-step/index.ts
  src/features/label/components/label-step/label-step1.tsx
  src/features/label/components/label-step/label-step2.tsx
  src/features/label/components/label-step/label-step3.tsx
  src/features/label/types/label-option.ts
  src/lib/constants.ts
Labels: labeling, ui, types, utils, config, documentation, assets

feat: add animation for call-to-action elements
  src/app/globals.css
Labels: styles, config, documentation

feat: add animation support to BottomCTA component
  src/components/ui/bottom-cta.tsx
Labels: ui, config, documentation

feat: add animation delay support to BottomCTA component
  src/components/ui/bottom-cta.tsx
Labels: ui, config, documentation

feat: BottomCTA 진입 애니메이션 추가 (#17)
  src/app/globals.css
  src/components/ui/bottom-cta.tsx
Labels: ui, styles, config, documentation

feat: API 테스트 페이지 개선 및 CORS 문제 해결 (임시 프로시)
  next.config.ts
  src/app/api/client.ts
  src/app/page.tsx
Labels: api, pages, config, documentation

feat: Docker 빌드 시스템 개선
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  DOCKER_MANUAL_DEPLOY_GUIDE.md
  Dockerfile
  FUTURE_REGISTRY_DEPLOYMENT.md
  README_FOR_BACKEND_TEAM.md
  SIMPLE_BUILD_GUIDE.md
  docker-compose.yml
  next.config.ts
  package.json
  src/app/api/client.ts
Labels: api, config, documentation, deployment

docs: Docker 수동 배포 가이드, CI/CD 완성 가이드, 배포 테스트 가이드 및 환경변수 설정 가이드 파일 삭제
  DOCKER_MANUAL_DEPLOY_GUIDE.md
  docs/CI_CD_COMPLETE_GUIDE.md
  docs/DEPLOYMENT_TEST_GUIDE.md
  docs/ENVIRONMENT_SETUP.md
Labels: config, documentation

feat: 화면 라우팅 구조 설정
  src/app/label/[imageKey]/[step]/page.tsx
Labels: labeling, pages, config, documentation

feat: 페이지 내 redirect 설정
  src/app/label/[imageKey]/[step]/page.tsx
Labels: labeling, pages, config, documentation

refactor: searchParam 형태로 변환....
  src/app/label/[imageKey]/.gitkeep
  src/app/label/[imageKey]/[step]/page.tsx
  src/app/label/[imageKey]/page.tsx
  src/features/label/components/label-step/label-step1.tsx
  src/features/label/components/label-step/label-step2.tsx
  src/features/label/components/label-step/label-step3.tsx
  src/features/label/types/label-step.ts
Labels: labeling, ui, pages, types, config, documentation

feat: labelStep3에도 onNext 적용
  src/app/label/[imageKey]/page.tsx
  src/features/label/components/label-step/label-step3.tsx
Labels: labeling, ui, pages, config, documentation

feat: onNext 적용
  src/features/label/components/label-step/label-step1.tsx
  src/features/label/components/label-step/label-step2.tsx
  src/features/label/components/label-step/label-step3.tsx
Labels: labeling, ui, config, documentation

chore: main에서 coderabbit 관련 설정 동기화
  .coderabbit.yaml
  .prettierignore
Labels: config, documentation

chore: 모든 브랜치에 대한 PR 리뷰 활성화
  .coderabbit.yaml
Labels: config, documentation

feat: CI/CD 및 API 클라이언트 개선
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  next.config.ts
  src/app/api/client.ts
  src/app/page.tsx
Labels: api, pages, config, documentation, deployment

feat: Dockerfile 및 CI/CD 설정 최적화
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Dockerfile
  docs/GITHUB_SECRETS_SETUP.md
Labels: config, documentation, deployment

feat: CI 설정 개선 및 Docker 빌드 테스트 제거
  .github/workflows/ci.yml
Labels: config, documentation, deployment

chore: ci/cd 및 be 연동 테스트를 위한 테스트 페이지 구축 (#14)
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Dockerfile
  docker-compose.yml
  next.config.ts
  package.json
  src/app/api/client.ts
  src/app/page.tsx
Labels: api, pages, config, documentation, deployment

fix: 프로덕션 배포 워크플로우에서 Node.js 설정 및 의존성 설치 단계 제거
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

chore: CODEOWNERS 파일 업데이트
  .github/CODEOWNERS
Labels: config, documentation

chore: main에서 coderabbit 관련 설정 동기화
  .coderabbit.yaml
  .prettierignore
Labels: config, documentation

chore: 모든 브랜치에 대한 PR 리뷰 활성화
  .coderabbit.yaml
Labels: config, documentation

fix: CodeRabbit profile 설정 파싱 오류 수정
  .coderabbit.yaml
Labels: config, documentation

chore: CODEOWNERS 파일 업데이트
  .github/CODEOWNERS
Labels: config, documentation

fix: 프로덕션 배포 워크플로우에서 Node.js 설정 및 의존성 설치 단계 제거
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

ci: 배포 워크플로우 수정
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

feat: 루트 경로에서 '/label/upload'로 리다이렉트
  src/app/page.tsx
Labels: pages, config, documentation
