Repository Dongjeop-lab/dongjeop-front, changes with the labels that .github/labeler.yml gives for each.
All labels: upload, labeling, contribution, api, ui, pages, types, hooks, utils, styles, config, documentation, deployment, test, assets

feat: tailwind theme color 추가 (#9)
  src/app/globals.css
Labels: styles, config, documentation

chore: Pretendard 설정
  public/fonts/PretendardVariable.woff2
  src/app/layout.tsx
  src/app/page.tsx
Labels: pages, config, documentation, assets

feat: 커스텀 폰트 스타일 추가
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
Labels: pages, styles, config, documentation

feat: 커스텀 폰트 스타일 추가
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
Labels: pages, styles, config, documentation

chore: Pretendard 설정
  public/fonts/PretendardVariable.woff2
  src/app/layout.tsx
  src/app/page.tsx
Labels: pages, config, documentation, assets

chore: 코드래빗 설정 템플릿 추가
  .coderabbit.yaml
  .prettierignore
Labels: config, documentation

feat: tailwind 사용을 위한 유틸함수 추가
  package-lock.json
  package.json
Labels: config, documentation

feat: Tailwind 중복 스타일링 방지를 위한 유틸함수 추가
  src/lib/utils.ts
Labels: utils, config, documentation

className 타입 추가
  src/types/common.ts
Labels: types, config, documentation

feat: extendTailwindMerge에 font-size 그룹 추가
  src/lib/utils.ts
Labels: utils, config, documentation

feat: BottomCta 컴포넌트 제작
  src/components/ui/bottom-cta.tsx
Labels: ui, config, documentation

feat: add check icon SVG
  public/icons/check.svg
Labels: config, documentation, assets

feat: ButtonList 컴포넌트와 Item 컴포넌트 추가
  src/components/ui/button-list.tsx
Labels: ui, config, documentation

chore: pointer 스타일 추가
  src/components/ui/button-list.tsx
Labels: ui, config, documentation

chore: 코드래빗 설정 템플릿 추가
  .coderabbit.yaml
  .prettierignore
Labels: config, documentation

feat: 트랜지션 이벤트 추가
  src/components/ui/button-list.tsx
Labels: ui, config, documentation

fix: title text 색상 수정
  src/components/ui/button-list.tsx
Labels: ui, config, documentation

a11y: button 내 올바르지 않은 태그 수정
  src/components/ui/button-list.tsx
Labels: ui, config, documentation

feat: BottonCTA 리팩토링, Button을 자유롭게 나열할 수 있게 함
  src/components/ui/bottom-cta.tsx
Labels: ui, config, documentation

refactor: 버튼 width 상수화
  src/components/ui/bottom-cta.tsx
Labels: ui, config, documentation

chore: 불필요한 주석 제거
  src/components/ui/bottom-cta.tsx
Labels: ui, config, documentation

feat: 버튼이 3개 이상인 경우에도 대응되도록 함
  src/components/ui/bottom-cta.tsx
Labels: ui, config, documentation

feat: BottomCTA 컴포넌트 제작 (#12)
  package-lock.json
  package.json
  src/components/ui/bottom-cta.tsx
  src/lib/utils.ts
  src/types/common.ts
Labels: ui, types, utils, config, documentation

feat: ButtonList 컴포넌트 제작 (#13)
  public/icons/check.svg
  src/components/ui/button-list.tsx
Labels: ui, config, documentation, assets

feat: Docker 최적화를 위한 .dockerignore 파일 추가 및 Next.js standalone 모드 설정
  .dockerignore
  next.config.ts
Labels: config, documentation

feat: 동접 프론트엔드 Dockerfile 및 docker-compose.yml 파일 생성
  Dockerfile
  docker-compose.yml
Labels: config, documentation, deployment

feat: CI/CD 워크플로우 개선 및 배포 설정 추가
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

docs: CI/CD 및 배포 테스트 가이드 문서 추가
  docs/CI_CD_COMPLETE_GUIDE.md
  docs/DEPLOYMENT_TEST_GUIDE.md
  docs/ENVIRONMENT_SETUP.md
  docs/GITHUB_SECRETS_SETUP.md
Labels: config, documentation

feat: Docker 최적화를 위한 .dockerignore 파일 추가 및 Next.js standalone 모드 설정
  .dockerignore
  next.config.ts
Labels: config, documentation

feat: 동접 프론트엔드 Dockerfile 및 docker-compose.yml 파일 생성
  Dockerfile
  docker-compose.yml
Labels: config, documentation, deployment

feat: CI/CD 워크플로우 개선 및 배포 설정 추가
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

docs: CI/CD 및 배포 테스트 가이드 문서 추가
  docs/CI_CD_COMPLETE_GUIDE.md
  docs/DEPLOYMENT_TEST_GUIDE.md
  docs/ENVIRONMENT_SETUP.md
  docs/GITHUB_SECRETS_SETUP.md
Labels: config, documentation

feat: API 연결 테스트 페이지 추가
  src/app/api/client.ts
  src/app/page.tsx
Labels: api, pages, config, documentation

chore: 네비게이션 아이콘 추가
  public/icons/navigation-back.svg
  public/icons/navigation-close.svg
Labels: config, documentation, assets

feat: header 컴포넌트 제작
  src/components/ui/header.tsx
Labels: ui, config, documentation

feat: onClose 있을 떄만 사용하도록 함
  src/components/ui/header.tsx
Labels: ui, config, documentation

feat: 헤더 컴포넌트 제작 (#15)
  public/icons/navigation-back.svg
  public/icons/navigation-close.svg
  src/components/ui/header.tsx
Labels: ui, config, documentation, assets

fix: CI 환경에서 devDependencies 설치 되도록 수정
  .github/workflows/ci.yml
Labels: config, documentation, deployment

feat: 공통된 디자인을 가진 라벨링 레이아웃 컴포넌트 제작
  src/features/label/components/label-step-layout.tsx
Labels: labeling, ui, config, documentation

style: x축 패딩 추가
  src/features/label/components/label-step-layout.tsx
Labels: labeling, ui, config, documentation

.github/labeler.yml:

# =============================================================================
# GitHub Auto-Labeler 설정
# PR에서 변경된 파일 경로에 따라 자동으로 라벨을 부여합니다.
# =============================================================================

# 📸 이미지 업로드 관련 기능
upload:
  - "src/features/upload/**"
  - "src/components/**/upload/**"
  - "src/app/**/upload/**"

# 📝 라벨링 관련 기능
labeling:
  - "src/features/label/**"
  - "src/components/**/label/**"
  - "src/app/label/**"

# 🏆 기여 정보 관련 기능
contribution:
  - "src/features/contribution/**"
  - "src/components/**/contribution/**"

# 🔗 API 관련
api:
  - "src/app/api/**"
  - "src/lib/api/**"
  - "src/types/api/**"

# 🎨 UI 컴포넌트
ui:
  - "src/components/**"
  - "src/features/**/components/**"

# 📄 페이지 및 라우팅
pages:
  - "src/app/**/page.tsx"
  - "src/app/**/layout.tsx"
  - "src/app/**/loading.tsx"
  - "src/app/**/error.tsx"
  - "src/app/**/not-found.tsx"

# 🎯 타입 정의
types:
  - "src/types/**"
  - "**/*.d.ts"
  - "src/**/*types.ts"
  - "src/**/*.types.ts"
  - "src/features/**/types/**"

# 🔄 커스텀 훅
hooks:
  - "src/hooks/**"
  - "src/features/**/hooks/**"

# 🛠️ 유틸리티 & 라이브러리
utils:
  - "src/lib/**"

# 🎨 스타일링
styles:
  - "src/app/globals.css"
  - "src/**/*.css"
  - "src/**/*.scss"
  - "src/**/*.module.*"
  - "tailwind.config.*"
  - "postcss.config.*"

# ⚙️ 설정 파일
config:
  - "next.config.*"
  - "package*.json"
  - "tsconfig*.json"
  - "eslint.config.*"
  - ".env*"
  - "!.env.example"

# 📚 문서 (기존 documentation 라벨 활용)
documentation:
  - "README.md"
  - "CHANGELOG*.md"
  - "docs/**"
  - "**/*.md"
  - "!README-DEPLOYMENT.md"
  - "!.github/**/*.md"

# 🚀 배포 & CI/CD
deployment:
  - ".github/workflows/**"
  - "Dockerfile*"
  - "docker-compose*"
  - "**/deploy*"
  - "README-DEPLOYMENT.md"

# 🧪 테스트
test:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/__tests__/**"
  - "test/**"
  - "tests/**"

# 🖼️ 정적 파일
assets:
  - "public/**"
  - "src/assets/**"
  - "**/*.svg"
  - "**/*.png" 
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
