Repository Dongjeop-lab/dongjeop-front, changes with the labels that .github/labeler.yml gives for each.
All labels: upload, labeling, contribution, api, ui, pages, types, hooks, utils, styles, config, documentation, deployment, test, assets

.github/labeler.yml:

# =============================================================================
# GitHub Auto-Labeler 설정
# PR에서 변경된 파일 경로에 따라 자동으로 라벨을 부여합니다.
# =============================================================================

# 📸 이미지 업로드 관련 기능
upload:
  - "src/features/upload/**"
  - "src/components/**/upload/**"
  - "src/app/**/upload/**"

# 📝 라벨링 관련 기능
labeling:
  - "src/features/label/**"
  - "src/components/**/label/**"
  - "src/app/label/**"

# 🏆 기여 정보 관련 기능
contribution:
  - "src/features/contribution/**"
  - "src/components/**/contribution/**"

# 🔗 API 관련
api:
  - "src/app/api/**"
  - "src/lib/api/**"
  - "src/types/api/**"

# 🎨 UI 컴포넌트
ui:
  - "src/components/**"
  - "src/features/**/components/**"

# 📄 페이지 및 라우팅
pages:
  - "src/app/**/page.tsx"
  - "src/app/**/layout.tsx"
  - "src/app/**/loading.tsx"
  - "src/app/**/error.tsx"
  - "src/app/**/not-found.tsx"

# 🎯 타입 정의
types:
  - "src/types/**"
  - "**/*.d.ts"
  - "src/**/*types.ts"
  - "src/**/*.types.ts"
  - "src/features/**/types/**"

# 🔄 커스텀 훅
hooks:
  - "src/hooks/**"
  - "src/features/**/hooks/**"

# 🛠️ 유틸리티 & 라이브러리
utils:
  - "src/lib/**"

# 🎨 스타일링
styles:
  - "src/app/globals.css"
  - "src/**/*.css"
  - "src/**/*.scss"
  - "src/**/*.module.*"
  - "tailwind.config.*"
  - "postcss.config.*"

# ⚙️ 설정 파일
config:
  - "next.config.*"
  - "package*.json"
  - "tsconfig*.json"
  - "eslint.config.*"
  - ".env*"
  - "!.env.example"

# 📚 문서 (기존 documentation 라벨 활용)
documentation:
  - "README.md"
  - "CHANGELOG*.md"
  - "docs/**"
  - "**/*.md"
  - "!README-DEPLOYMENT.md"
  - "!.github/**/*.md"

# 🚀 배포 & CI/CD
deployment:
  - ".github/workflows/**"
  - "Dockerfile*"
  - "docker-compose*"
  - "**/deploy*"
  - "README-DEPLOYMENT.md"

# 🧪 테스트
test:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/__tests__/**"
  - "test/**"
  - "tests/**"

# 🖼️ 정적 파일
assets:
  - "public/**"
  - "src/assets/**"
  - "**/*.svg"
  - "**/*.png" 
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"

refactor: 폴더 유지용 .gitkeep 제거
  src/components/ui/.gitkeep
  src/features/label/components/.gitkeep
  src/features/label/types/.gitkeep
  src/types/api/.gitkeep
Labels: labeling, api, ui, types, config, documentation

fix: 중복 BottomCTA 제거
  src/app/label/upload/_components/upload-container.tsx
Labels: upload, labeling, config, documentation

fix: BottomCTA 버튼 onClick 누락 수정
  src/app/label/upload/_components/upload-container.tsx
Labels: upload, labeling, config, documentation

refactor: <img> -> <Image>
  src/app/label/upload/_components/upload-container.tsx
Labels: upload, labeling, config, documentation

feat: 기여 결과 조회 API 응답 타입 추가
  src/types/api/submission.ts
Labels: api, types, config, documentation

feat: 등록완료화면-2 퍼블리싱
  public/images/finish/icon-hammer.svg
  public/images/upload/icon-hammer.svg
  src/app/label/[imageKey]/finish/page.tsx
Labels: labeling, pages, config, documentation, assets

refactor: 등록완료화면 step별 컴포넌트 분리 및 자동 전환 구현
  src/app/label/[imageKey]/finish/_components/finish-step-1.tsx
  src/app/label/[imageKey]/finish/_components/finish-step-2.tsx
  src/app/label/[imageKey]/finish/page.tsx
Labels: labeling, pages, config, documentation

refactor: 시맨틱 마크업 개선
  src/app/label/[imageKey]/finish/_components/finish-step-2.tsx
  src/app/label/[imageKey]/finish/page.tsx
Labels: labeling, pages, config, documentation

feat: 등록완료화면-1 UI 구현
  src/app/label/[imageKey]/finish/_components/finish-step-1.tsx
  src/app/label/[imageKey]/finish/page.tsx
  src/app/label/upload/_components/upload-container.tsx
Labels: upload, labeling, pages, config, documentation

refactor: 반원 그라데이션 스타일을 테일윈드 클래스로 변경
  src/app/label/[imageKey]/finish/_components/finish-step-1.tsx
Labels: labeling, config, documentation

design: opacity-30 추가
  src/app/label/[imageKey]/finish/_components/finish-step-1.tsx
Labels: labeling, config, documentation

refactor: 폴더 유지용 .gitkeep 제거
  src/components/ui/.gitkeep
  src/features/label/components/.gitkeep
  src/features/label/types/.gitkeep
  src/types/api/.gitkeep
Labels: labeling, api, ui, types, config, documentation

refactor: 반원 그라데이션 스타일을 테일윈드 클래스로 변경
  src/app/label/[imageKey]/finish/_components/finish-step-1.tsx
Labels: labeling, config, documentation

design: opacity-30 추가
  src/app/label/[imageKey]/finish/_components/finish-step-1.tsx
Labels: labeling, config, documentation

feat: 등록완료화면-1 UI 구현
  src/app/label/[imageKey]/finish/_components/finish-step-1.tsx
  src/app/label/[imageKey]/finish/page.tsx
  src/app/label/upload/_components/upload-container.tsx
Labels: upload, labeling, pages, config, documentation

feat: 등록완료화면-2 퍼블리싱
  public/images/finish/icon-hammer.svg
  public/images/upload/icon-hammer.svg
  src/app/label/[imageKey]/finish/page.tsx
Labels: labeling, pages, config, documentation, assets

fix: 중복 BottomCTA 제거
  src/app/label/upload/_components/upload-container.tsx
Labels: upload, labeling, config, documentation

fix: BottomCTA 버튼 onClick 누락 수정
  src/app/label/upload/_components/upload-container.tsx
Labels: upload, labeling, config, documentation

refactor: 시맨틱 마크업 개선
  src/app/label/[imageKey]/finish/_components/finish-step-2.tsx
  src/app/label/[imageKey]/finish/page.tsx
Labels: labeling, pages, config, documentation

refactor: 등록완료화면 step별 컴포넌트 분리 및 자동 전환 구현
  src/app/label/[imageKey]/finish/_components/finish-step-1.tsx
  src/app/label/[imageKey]/finish/_components/finish-step-2.tsx
  src/app/label/[imageKey]/finish/page.tsx
Labels: labeling, pages, config, documentation

feat: 기여 결과 조회 API 응답 타입 추가
  src/types/api/submission.ts
Labels: api, types, config, documentation

refactor: <img> -> <Image>
  src/app/label/upload/_components/upload-container.tsx
Labels: upload, labeling, config, documentation

chore: svg 정리
  public/images/finish/stairs-finish-1.svg
  public/images/finish/stairs-finish.svg
Labels: config, documentation, assets

feat: finalStep 정리 후 인터렉션 적용
  src/app/label/[imageKey]/finish/_components/finish-step-1.tsx
  src/app/label/[imageKey]/finish/_components/finish-step-2.tsx
  src/app/label/[imageKey]/finish/_components/finish-step.tsx
Labels: labeling, config, documentation

feat: 공통 컴포넌트 정리
  src/app/label/[imageKey]/finish/_components/circular-progress.tsx
  src/app/label/[imageKey]/finish/_components/finish-title.tsx
Labels: labeling, config, documentation

feat: FinalStep 적용
  src/app/label/[imageKey]/finish/page.tsx
  src/lib/constants.ts
Labels: labeling, pages, utils, config, documentation

feat: 완료 페이지 인터렉션 적용 (#32)
  public/images/finish/stairs-finish-1.svg
  public/images/finish/stairs-finish.svg
  src/app/label/[imageKey]/finish/_components/circular-progress.tsx
  src/app/label/[imageKey]/finish/_components/finish-step.tsx
  src/app/label/[imageKey]/finish/_components/finish-title.tsx
  src/app/label/[imageKey]/finish/page.tsx
  src/lib/constants.ts
Labels: labeling, pages, utils, config, documentation, assets

feat: 사진 등록 API 응답 타입 추가
  src/types/api/upload.ts
Labels: api, types, config, documentation

feat: 라벨링 및 등록완료 경로 추가
  src/lib/path.ts
Labels: utils, config, documentation

refactor: 기여 결과 조회 API 응답 타입명 변경
  src/types/api/submission.ts
Labels: api, types, config, documentation

feat: useRouter를 이용한 페이지 이동 처리
  src/app/label/[imageKey]/finish/page.tsx
  src/features/upload/hooks/use-image-upload.tsx
Labels: upload, labeling, pages, hooks, config, documentation

refactor: 폴더유지용 .gitkeep 제거
  src/features/contribution/types/.gitkeep
  src/features/finish/hooks/.gitkeep
  src/features/finish/types/.gitkeep
Labels: contribution, types, hooks, config, documentation

fix: padding-top에 적용된 status bar 높이 제거
  src/app/label/[imageKey]/finish/_components/finish-step-1.tsx
  src/app/label/[imageKey]/finish/_components/finish-step-2.tsx
  src/app/label/[imageKey]/finish/_components/finish-step.tsx
  src/app/label/upload/_components/upload-container.tsx
Labels: upload, labeling, config, documentation

fix: 누락된 next/image width/height 속성 보완
  src/app/label/upload/_components/upload-container.tsx
Labels: upload, labeling, config, documentation

feat: count-up 적용
  package-lock.json
  package.json
  src/app/label/[imageKey]/finish/_components/finish-step.tsx
Labels: labeling, config, documentation

fix: update chair option titles for clarity
  src/features/label/components/label-step/label-step2.tsx
Labels: labeling, ui, config, documentation

feat: textfield 컴포넌트 제작
  src/components/ui/text-field.tsx
Labels: ui, config, documentation

fix: 누락된 next/image width/height 속성 보완
  src/app/label/upload/_components/upload-container.tsx
Labels: upload, labeling, config, documentation

refactor: 기여 결과 조회 API 응답 타입명 변경
  src/types/api/submission.ts
Labels: api, types, config, documentation

feat: 사진 등록 API 응답 타입 추가
  src/types/api/upload.ts
Labels: api, types, config, documentation
