Repository Dongjeop-lab/dongjeop-front, changes with the labels that .github/labeler.yml gives for each.
All labels: upload, labeling, contribution, api, ui, pages, types, hooks, utils, styles, config, documentation, deployment, test, assets

feat: 화면 접속 시간 확인 hook 제작
  src/hooks/use-interaction-timer.ts
Labels: hooks, config, documentation

feat: step1 업데이트 로직 제작
  src/features/label/components/label-step/label-step1.tsx
Labels: labeling, ui, config, documentation

feat: option을 string으로 고정하지 않고 변동 가능하도록
  src/features/label/types/label-option.ts
Labels: labeling, types, config, documentation

feat: label option 관련 타입 지정
  src/features/label/types/label-option.ts
  src/features/label/types/label-step.ts
Labels: labeling, types, config, documentation

chore: 변동된 타입에 맞춰 정의
  src/features/label/components/label-step/label-step2.tsx
  src/features/label/components/label-step/label-step3.tsx
Labels: labeling, ui, config, documentation

feat: step3에 업데이트 로직 적용
  src/features/label/components/label-step/label-step3.tsx
Labels: labeling, ui, config, documentation

feat: 값 반올림을 hook안에서 실행하도록 변경
  src/features/label/components/label-step/label-step1.tsx
  src/hooks/use-interaction-timer.ts
Labels: labeling, ui, hooks, config, documentation

fix: 마지막 스텝은 finish_labeling을 true로
  src/features/label/components/label-step/label-step3.tsx
Labels: labeling, ui, config, documentation

feat: step2 로직 완성
  src/features/label/components/label-step/label-step2.tsx
Labels: labeling, ui, config, documentation

feat: 모든 step에 imageKey 전달
  src/app/label/[imageKey]/page.tsx
Labels: labeling, pages, config, documentation

chore: API 상수 사용
  src/hooks/.gitkeep
  src/hooks/use-update-label.ts
Labels: hooks, config, documentation

feat: mutate 중일 때는 버튼 클릭 방지
  src/features/label/components/label-step/label-step1.tsx
  src/features/label/components/label-step/label-step2.tsx
  src/features/label/components/label-step/label-step3.tsx
Labels: labeling, ui, config, documentation

fix: sync app/page.tsx with develop
  src/app/page.tsx
Labels: pages, config, documentation

feat: --color-muted 색상 토큰 추가 및 적용
  src/app/globals.css
  src/features/upload/page.tsx
Labels: upload, styles, config, documentation

feat:라벨링 페이지 UI 작업 (#23)
  package-lock.json
  package.json
  src/app/label/[imageKey]/.gitkeep
  src/app/label/[imageKey]/page.tsx
  src/components/ui/bottom-cta.tsx
  src/components/ui/button-list.tsx
  src/features/label/components/label-step-layout.tsx
  src/features/label/components/label-step/label-step1.tsx
  src/features/label/components/label-step/label-step2.tsx
  src/features/label/components/label-step/label-step3.tsx
  src/features/label/types/label-step.ts
  src/lib/path.ts
Labels: labeling, ui, pages, types, utils, config, documentation

feat: /label/upload 쿼리파라미터 처리 헬퍼 함수 추가
  src/lib/queryParams.ts
  src/types/common.ts
Labels: types, utils, config, documentation

feat: 업로드 페이지 생성 및 쿼리 파라미터 전달
  src/app/label/upload/page.tsx
  src/features/upload/page.tsx
Labels: upload, labeling, pages, config, documentation

fix: searchParams async 처리 및 source 값 추출 방식 수정
  src/app/label/upload/page.tsx
Labels: upload, labeling, pages, config, documentation

remove: 기본 제공 이미지 파일 제거
  public/images/file.svg
  public/images/globe.svg
  public/images/next.svg
  public/images/vercel.svg
  public/images/window.svg
Labels: config, documentation, assets

add: 피그마 계단 이미지 파일 추가
  public/images/stairs-finish-1.svg
  public/images/stairs-finish-2.svg
  public/images/stairs-upload.svg
Labels: config, documentation, assets

feat: 사진 미등록화면 UI 구현
  public/images/finish/stairs-finish-1.svg
  public/images/finish/stairs-finish-2.svg
  public/images/upload/check.svg
  public/images/upload/icon-hammer.svg
  public/images/upload/stairs-upload.svg
  public/images/upload/tooltip.svg
  public/images/upload/upload-guide-1.svg
  public/images/upload/upload-guide-2.svg
  public/images/upload/upload-guide-3.svg
  public/images/upload/x.svg
  src/features/upload/page.tsx
Labels: upload, config, documentation, assets

feat: --color-muted 색상 토큰 추가 및 적용
  src/app/globals.css
  src/features/upload/page.tsx
Labels: upload, styles, config, documentation

fix: searchParams async 처리 및 source 값 추출 방식 수정
  src/app/label/upload/page.tsx
Labels: upload, labeling, pages, config, documentation

feat: --color-muted 색상 토큰 추가 및 적용
  src/app/globals.css
  src/features/upload/page.tsx
Labels: upload, styles, config, documentation

feat: /label/upload 쿼리파라미터 처리 헬퍼 함수 추가
  src/lib/queryParams.ts
  src/types/common.ts
Labels: types, utils, config, documentation

feat: 업로드 페이지 생성 및 쿼리 파라미터 전달
  src/app/label/upload/page.tsx
  src/features/upload/page.tsx
Labels: upload, labeling, pages, config, documentation

add: 피그마 계단 이미지 파일 추가
  public/images/stairs-finish-1.svg
  public/images/stairs-finish-2.svg
  public/images/stairs-upload.svg
Labels: config, documentation, assets

feat: 사진 미등록화면 UI 구현
  public/images/finish/stairs-finish-1.svg
  public/images/finish/stairs-finish-2.svg
  public/images/upload/check.svg
  public/images/upload/icon-hammer.svg
  public/images/upload/stairs-upload.svg
  public/images/upload/tooltip.svg
  public/images/upload/upload-guide-1.svg
  public/images/upload/upload-guide-2.svg
  public/images/upload/upload-guide-3.svg
  public/images/upload/x.svg
  src/features/upload/page.tsx
Labels: upload, config, documentation, assets

remove: 기본 제공 이미지 파일 제거
  public/images/file.svg
  public/images/globe.svg
  public/images/next.svg
  public/images/vercel.svg
  public/images/window.svg
Labels: config, documentation, assets

feat: integrate react-query for label status management and update label steps
  src/app/label/[imageKey]/page.tsx
  src/features/label/components/label-step/label-step1.tsx
  src/features/label/components/label-step/label-step2.tsx
  src/features/label/components/label-step/label-step3.tsx
  src/features/label/types/label-step.ts
  src/types/api/label.ts
Labels: labeling, api, ui, pages, types, config, documentation

fix: remove staleTime from label query to ensure fresh data retrieval
  src/app/label/[imageKey]/page.tsx
Labels: labeling, pages, config, documentation

feat: 배포 워크플로우 개선 및 API 클라이언트 수정
  .github/workflows/deploy.yml
  src/app/api/client.ts
  src/app/page.tsx
  src/lib/path.ts
Labels: api, pages, utils, config, documentation, deployment

update: docker-compose.yml 파일 삭제 및 Docker 기반 배포 가이드 업데이트
  .github/workflows/ci.yml
  Dockerfile
  README-DEPLOYMENT.md
  README.md
  docker-compose.yml
Labels: config, documentation, deployment

feat: 라벨 업데이트 API 적용 (#25)
  package-lock.json
  src/app/label/[imageKey]/page.tsx
  src/features/label/components/label-step/label-step1.tsx
  src/features/label/components/label-step/label-step2.tsx
  src/features/label/components/label-step/label-step3.tsx
  src/features/label/types/label-option.ts
  src/features/label/types/label-step.ts
  src/hooks/.gitkeep
  src/hooks/use-interaction-timer.ts
  src/hooks/use-update-label.ts
  src/types/api/label.ts
Labels: labeling, api, ui, pages, types, hooks, config, documentation

feat: 실제 imageKey 적용
  src/features/label/components/label-step/label-step1.tsx
  src/features/label/components/label-step/label-step2.tsx
  src/features/label/components/label-step/label-step3.tsx
Labels: labeling, ui, config, documentation

feat: 개발 환경 API 프록시 설정 및 클라이언트 API URL 수정
  next.config.ts
  package-lock.json
  package.json
  src/app/api/client.ts
  src/app/api/label/[imageKey]/.gitkeep
  src/app/api/upload/.gitkeep
Labels: upload, api, config, documentation

feat: NEXT_PUBLIC_API_URL 환경변수 제거 및 nginx 리버스 프록시 설정 반영
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Dockerfile
  docker-compose.yml
  src/app/api/client.ts
  src/app/page.tsx
Labels: api, pages, config, documentation, deployment

feat: GitHub Actions 워크플로우에 수동 배포 기능 추가 및 헬스 체크 옵션 개선
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

feat: SSH 연결 안정성을 위한 재시도 로직 및 타임아웃 설정 개선
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

feat: GitHub Actions 워크플로우에 추가 브랜치 지원
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

.github/labeler.yml:

# =============================================================================
# GitHub Auto-Labeler 설정
# PR에서 변경된 파일 경로에 따라 자동으로 라벨을 부여합니다.
# =============================================================================

# 📸 이미지 업로드 관련 기능
upload:
  - "src/features/upload/**"
  - "src/components/**/upload/**"
  - "src/app/**/upload/**"

# 📝 라벨링 관련 기능
labeling:
  - "src/features/label/**"
  - "src/components/**/label/**"
  - "src/app/label/**"

# 🏆 기여 정보 관련 기능
contribution:
  - "src/features/contribution/**"
  - "src/components/**/contribution/**"

# 🔗 API 관련
api:
  - "src/app/api/**"
  - "src/lib/api/**"
  - "src/types/api/**"

# 🎨 UI 컴포넌트
ui:
  - "src/components/**"
  - "src/features/**/components/**"

# 📄 페이지 및 라우팅
pages:
  - "src/app/**/page.tsx"
  - "src/app/**/layout.tsx"
  - "src/app/**/loading.tsx"
  - "src/app/**/error.tsx"
  - "src/app/**/not-found.tsx"

# 🎯 타입 정의
types:
  - "src/types/**"
  - "**/*.d.ts"
  - "src/**/*types.ts"
  - "src/**/*.types.ts"
  - "src/features/**/types/**"

# 🔄 커스텀 훅
hooks:
  - "src/hooks/**"
  - "src/features/**/hooks/**"

# 🛠️ 유틸리티 & 라이브러리
utils:
  - "src/lib/**"

# 🎨 스타일링
styles:
  - "src/app/globals.css"
  - "src/**/*.css"
  - "src/**/*.scss"
  - "src/**/*.module.*"
  - "tailwind.config.*"
  - "postcss.config.*"

# ⚙️ 설정 파일
config:
  - "next.config.*"
  - "package*.json"
  - "tsconfig*.json"
  - "eslint.config.*"
  - ".env*"
  - "!.env.example"

# 📚 문서 (기존 documentation 라벨 활용)
documentation:
  - "README.md"
  - "CHANGELOG*.md"
  - "docs/**"
  - "**/*.md"
  - "!README-DEPLOYMENT.md"
  - "!.github/**/*.md"

# 🚀 배포 & CI/CD
deployment:
  - ".github/workflows/**"
  - "Dockerfile*"
  - "docker-compose*"
  - "**/deploy*"
  - "README-DEPLOYMENT.md"

# 🧪 테스트
test:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/__tests__/**"
  - "test/**"
  - "tests/**"

# 🖼️ 정적 파일
assets:
  - "public/**"
  - "src/assets/**"
  - "**/*.svg"
  - "**/*.png" 
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
