Repository Dongjeop-lab/dongjeop-front, changes with the labels that .github/labeler.yml gives for each.
All labels: upload, labeling, contribution, api, ui, pages, types, hooks, utils, styles, config, documentation, deployment, test, assets

feat: useRouter를 이용한 페이지 이동 처리
  src/app/label/[imageKey]/finish/page.tsx
  src/features/upload/hooks/use-image-upload.tsx
Labels: upload, labeling, pages, hooks, config, documentation

fix: padding-top에 적용된 status bar 높이 제거
  src/app/label/[imageKey]/finish/_components/finish-step-1.tsx
  src/app/label/[imageKey]/finish/_components/finish-step-2.tsx
  src/app/label/[imageKey]/finish/_components/finish-step.tsx
  src/app/label/upload/_components/upload-container.tsx
Labels: upload, labeling, config, documentation

feat: 라벨링 및 등록완료 경로 추가
  src/lib/path.ts
Labels: utils, config, documentation

refactor: 폴더유지용 .gitkeep 제거
  src/features/contribution/types/.gitkeep
  src/features/finish/hooks/.gitkeep
  src/features/finish/types/.gitkeep
Labels: contribution, types, hooks, config, documentation

feat: finish 페이지에 API 연동 및 에러 처리 추가
  src/app/label/[imageKey]/finish/page.tsx
Labels: labeling, pages, config, documentation

refactor: FinishPage 데이터 페칭 로직 훅으로 분리
  src/app/label/[imageKey]/finish/_hoooks/use-submission-result.ts
  src/app/label/[imageKey]/finish/page.tsx
  src/features/finish/hooks/.gitkeep
Labels: labeling, pages, hooks, config, documentation

refactor: FinishPage 데이터 페칭 로직 훅으로 분리
  src/app/label/[imageKey]/finish/_hooks/use-submission-result.ts
Labels: labeling, config, documentation

fix: useSubmissionResult import 경로 오타 수정
  src/app/label/[imageKey]/finish/page.tsx
Labels: labeling, pages, config, documentation

feat: 숫자 올라가는 인터렉션 제작 (#34)
  package-lock.json
  package.json
  src/app/label/[imageKey]/finish/_components/finish-step.tsx
  src/features/label/components/label-step/label-step2.tsx
Labels: labeling, ui, config, documentation

refactor: 로딩 화면 제거
  src/app/label/[imageKey]/finish/page.tsx
  src/features/finish/types/.gitkeep
Labels: labeling, pages, types, config, documentation

feat: 색상 클래스화
  src/app/globals.css
  src/components/ui/button-list.tsx
  src/components/ui/text-field.tsx
Labels: ui, styles, config, documentation

feat: textfield 컴포넌트 제작 (#35)
  src/app/globals.css
  src/components/ui/button-list.tsx
  src/components/ui/text-field.tsx
Labels: ui, styles, config, documentation

refactor: 라벨링 파트 파일 이동
  src/app/label/[imageKey]/_components/label-step-layout.tsx
  src/app/label/[imageKey]/_components/label-step/index.ts
  src/app/label/[imageKey]/_components/label-step/label-step1.tsx
  src/app/label/[imageKey]/_components/label-step/label-step2.tsx
  src/app/label/[imageKey]/_components/label-step/label-step3.tsx
  src/app/label/[imageKey]/_types/label-option.ts
  src/app/label/[imageKey]/_types/label-step.ts
  src/app/label/[imageKey]/page.tsx
  src/features/label/hooks/.gitkeep
Labels: labeling, pages, hooks, config, documentation

refactor: 라벨링 파트 파일 이동 (#37)
  src/app/label/[imageKey]/_components/label-step-layout.tsx
  src/app/label/[imageKey]/_components/label-step/index.ts
  src/app/label/[imageKey]/_components/label-step/label-step1.tsx
  src/app/label/[imageKey]/_components/label-step/label-step2.tsx
  src/app/label/[imageKey]/_components/label-step/label-step3.tsx
  src/app/label/[imageKey]/_types/label-option.ts
  src/app/label/[imageKey]/_types/label-step.ts
  src/app/label/[imageKey]/page.tsx
  src/features/label/hooks/.gitkeep
Labels: labeling, pages, hooks, config, documentation

feat: 이벤트 및 소개 이미지 추가, CSS 수정 및 홈 페이지 구성 변경
  public/images/home/event-reward-image.png
  public/images/home/introduction-image.png
  src/app/globals.css
  src/app/page.tsx
Labels: pages, styles, config, documentation, assets

feat: 소개 컴포넌트 추가 및 이벤트 참여 방법 안내 구현
  src/app/_components/introduction.tsx
Labels: config, documentation

feat: 이벤트 설명 및 보상 카드 컴포넌트 추가
  src/app/_components/EventDescription.tsx
  src/app/_components/NoticeCard.tsx
  src/app/_components/RewardCard.tsx
Labels: config, documentation

feat: 하단 버튼 컴포넌트 추가
  src/app/_components/BottomButton.tsx
Labels: config, documentation

feat: 하단 버튼 컴포넌트에 네비게이션 기능 추가 및 경로 상수 정의
  src/app/_components/BottomButton.tsx
  src/lib/path.ts
Labels: utils, config, documentation

feat: 접근성 향상을 위한 ARIA 속성 추가 및 메인 콘텐츠 구조 개선
  src/app/_components/BottomButton.tsx
  src/app/page.tsx
Labels: pages, config, documentation

refactor: FinishPage 데이터 페칭 로직 훅으로 분리
  src/app/label/[imageKey]/finish/_hoooks/use-submission-result.ts
  src/app/label/[imageKey]/finish/page.tsx
  src/features/finish/hooks/.gitkeep
Labels: labeling, pages, hooks, config, documentation

feat: finish 페이지에 API 연동 및 에러 처리 추가
  src/app/label/[imageKey]/finish/page.tsx
Labels: labeling, pages, config, documentation

fix: useSubmissionResult import 경로 오타 수정
  src/app/label/[imageKey]/finish/page.tsx
Labels: labeling, pages, config, documentation

refactor: FinishPage 데이터 페칭 로직 훅으로 분리
  src/app/label/[imageKey]/finish/_hooks/use-submission-result.ts
Labels: labeling, config, documentation

refactor: 로딩 화면 제거
  src/app/label/[imageKey]/finish/page.tsx
  src/features/finish/types/.gitkeep
Labels: labeling, pages, types, config, documentation

feat: 하단 버튼 및 이벤트 설명, 보상 카드, 공지 카드 컴포넌트 이름에 컨벤션 적용
  src/app/_components/bottom-button.tsx
  src/app/_components/event-description.tsx
  src/app/_components/notice-card.tsx
  src/app/_components/reward-card.tsx
  src/app/page.tsx
  src/features/finish/hooks/.gitkeep
  src/features/finish/types/.gitkeep
  src/features/upload/types/.gitkeep
Labels: upload, pages, types, hooks, config, documentation

feat: 랜딩 홈 페이지 생성 (#38)
  public/images/home/event-reward-image.png
  public/images/home/introduction-image.png
  src/app/_components/bottom-button.tsx
  src/app/_components/event-description.tsx
  src/app/_components/introduction.tsx
  src/app/_components/notice-card.tsx
  src/app/_components/reward-card.tsx
  src/app/globals.css
  src/app/page.tsx
  src/features/upload/types/.gitkeep
  src/lib/path.ts
Labels: upload, pages, types, utils, styles, config, documentation, assets

fix: 병합 충돌 해결 시 발생한 ci.yml 중복 라인 제거
  .github/workflows/ci.yml
Labels: config, documentation, deployment

fix: DEV_API_PROXY_TARGET 환경변수 검증 및 후행 슬래시 정규화
  next.config.ts
Labels: config, documentation

fix: CountUp에 totalImageNum 임시 fallback 값 추가
  src/app/label/[imageKey]/finish/_components/finish-step.tsx
Labels: labeling, config, documentation

.github/labeler.yml:

# =============================================================================
# GitHub Auto-Labeler 설정
# PR에서 변경된 파일 경로에 따라 자동으로 라벨을 부여합니다.
# =============================================================================

# 📸 이미지 업로드 관련 기능
upload:
  - "src/features/upload/**"
  - "src/components/**/upload/**"
  - "src/app/**/upload/**"

# 📝 라벨링 관련 기능
labeling:
  - "src/features/label/**"
  - "src/components/**/label/**"
  - "src/app/label/**"

# 🏆 기여 정보 관련 기능
contribution:
  - "src/features/contribution/**"
  - "src/components/**/contribution/**"

# 🔗 API 관련
api:
  - "src/app/api/**"
  - "src/lib/api/**"
  - "src/types/api/**"

# 🎨 UI 컴포넌트
ui:
  - "src/components/**"
  - "src/features/**/components/**"

# 📄 페이지 및 라우팅
pages:
  - "src/app/**/page.tsx"
  - "src/app/**/layout.tsx"
  - "src/app/**/loading.tsx"
  - "src/app/**/error.tsx"
  - "src/app/**/not-found.tsx"

# 🎯 타입 정의
types:
  - "src/types/**"
  - "**/*.d.ts"
  - "src/**/*types.ts"
  - "src/**/*.types.ts"
  - "src/features/**/types/**"

# 🔄 커스텀 훅
hooks:
  - "src/hooks/**"
  - "src/features/**/hooks/**"

# 🛠️ 유틸리티 & 라이브러리
utils:
  - "src/lib/**"

# 🎨 스타일링
styles:
  - "src/app/globals.css"
  - "src/**/*.css"
  - "src/**/*.scss"
  - "src/**/*.module.*"
  - "tailwind.config.*"
  - "postcss.config.*"

# ⚙️ 설정 파일
config:
  - "next.config.*"
  - "package*.json"
  - "tsconfig*.json"
  - "eslint.config.*"
  - ".env*"
  - "!.env.example"

# 📚 문서 (기존 documentation 라벨 활용)
documentation:
  - "README.md"
  - "CHANGELOG*.md"
  - "docs/**"
  - "**/*.md"
  - "!README-DEPLOYMENT.md"
  - "!.github/**/*.md"

# 🚀 배포 & CI/CD
deployment:
  - ".github/workflows/**"
  - "Dockerfile*"
  - "docker-compose*"
  - "**/deploy*"
  - "README-DEPLOYMENT.md"

# 🧪 테스트
test:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/__tests__/**"
  - "test/**"
  - "tests/**"

# 🖼️ 정적 파일
assets:
  - "public/**"
  - "src/assets/**"
  - "**/*.svg"
  - "**/*.png" 
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
