Repository Dongjeop-lab/dongjeop-front, changes with the labels that .github/labeler.yml gives for each.
All labels: upload, labeling, contribution, api, ui, pages, types, hooks, utils, styles, config, documentation, deployment, test, assets

feat: GitHub Actions 배포 워크플로우의 브랜치 제한 및 SSH 타임아웃 설정 조정
  .github/workflows/deploy.yml
Labels: config, documentation, deployment

feat: 개발 환경에서 API 프록시 대상을 환경변수로 설정
  next.config.ts
Labels: config, documentation

chore: 포트 변경으로 인한 개발환경 proxy 추가 (#30)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Dockerfile
  docker-compose.yml
  next.config.ts
  package-lock.json
  package.json
  src/app/api/client.ts
  src/app/api/label/[imageKey]/.gitkeep
  src/app/api/upload/.gitkeep
  src/app/page.tsx
Labels: upload, api, pages, config, documentation, deployment

feat: 이미지 URL 관련 환경 변수 추가
  next.config.ts
Labels: config, documentation

docs: 이미지 url 설명 추가
  .env.example
Labels: config, documentation

feat: 라벨링 url 적용
  src/features/label/components/label-step-layout.tsx
Labels: labeling, ui, config, documentation

chore: 값 대문자로 변경
  src/app/label/[imageKey]/page.tsx
  src/features/label/components/label-step/label-step1.tsx
  src/features/label/components/label-step/label-step3.tsx
  src/types/api/label.ts
Labels: labeling, api, ui, pages, types, config, documentation

fix: update label cache type definition for clarity
  src/app/label/[imageKey]/page.tsx
Labels: labeling, pages, config, documentation

chore: 스텝 상수화
  src/app/label/[imageKey]/page.tsx
  src/lib/constants.ts
Labels: labeling, pages, utils, config, documentation

feat: queryKey 상수화
  src/app/label/[imageKey]/page.tsx
  src/lib/query-key.ts
Labels: labeling, pages, utils, config, documentation

fix: 라우팅이 종료되고 화면이 나타나도록
  src/app/label/[imageKey]/page.tsx
Labels: labeling, pages, config, documentation

fix: 이미지 너비 조정
  src/features/label/components/label-step-layout.tsx
Labels: labeling, ui, config, documentation

fix: update AnimatePresence mode and simplify className in LabelStepLayout
  src/app/label/[imageKey]/page.tsx
  src/features/label/components/label-step-layout.tsx
Labels: labeling, ui, pages, config, documentation

feat: 라벨링 데이터 조회 및 위치 이동 API 연동 (#28)
  .env.example
  next.config.ts
  package-lock.json
  src/app/label/[imageKey]/page.tsx
  src/features/label/components/label-step-layout.tsx
  src/features/label/components/label-step/label-step1.tsx
  src/features/label/components/label-step/label-step2.tsx
  src/features/label/components/label-step/label-step3.tsx
  src/features/label/types/label-step.ts
  src/lib/constants.ts
  src/lib/query-key.ts
  src/types/api/label.ts
Labels: labeling, api, ui, pages, types, utils, config, documentation

fix: searchParams가 없을 경우를 대비해 옵셔널 처리 적용
  src/app/label/upload/page.tsx
  src/features/upload/page.tsx
Labels: upload, labeling, pages, config, documentation

refactor: 시맨틱 마크업 개선
  src/features/upload/components/upload-guide.tsx
Labels: upload, ui, config, documentation

refactor: UploadContainer를 페이지 전용 디렉토리로 이동
  src/app/label/upload/_components/upload-container.tsx
  src/app/label/upload/page.tsx
Labels: upload, labeling, pages, config, documentation

refactor: BottomCTA 버튼 조건부 렌더링 단순화
  src/app/label/upload/_components/upload-container.tsx
Labels: upload, labeling, config, documentation

refactor: 사진 등록 가이드 섹션 컴포넌트화
  src/features/upload/components/.gitkeep
  src/features/upload/components/UploadGuide.tsx
  src/features/upload/page.tsx
Labels: upload, ui, config, documentation

refactor: 시맨틱 마크업 및 가이드 문구 렌더링 개선
  src/features/upload/components/upload-guide.tsx
Labels: upload, ui, config, documentation

refactor: 망치 이미지 public/images/common으로 이동
  public/images/common/icon-hammer.svg
Labels: config, documentation, assets

refactor: 이미지 업로드 로직 useImageUpload 훅으로 분리
  src/features/upload/hooks/.gitkeep
  src/features/upload/hooks/useImageUpload.tsx
  src/features/upload/page.tsx
Labels: upload, hooks, config, documentation

feat: 사진 업로드 기능 구현
  public/images/upload/close.svg
  src/features/upload/page.tsx
Labels: upload, config, documentation, assets

feat: 사진 등록 API 연동
  src/features/upload/page.tsx
  src/lib/path.ts
Labels: upload, utils, config, documentation

refactor: 파일명을 케밥케이스로 통일
  src/app/label/upload/page.tsx
  src/features/upload/components/upload-guide.tsx
  src/features/upload/hooks/use-image-upload.tsx
  src/features/upload/upload-container.tsx
Labels: upload, labeling, ui, pages, hooks, config, documentation

refactor: 업로드 가이드 이미지 대체
  public/images/upload/upload-guide-1.png
  public/images/upload/upload-guide-1.svg
  public/images/upload/upload-guide-2.png
  public/images/upload/upload-guide-2.svg
  public/images/upload/upload-guide-3.png
  public/images/upload/upload-guide-3.svg
  src/features/upload/components/UploadGuide.tsx
  src/features/upload/page.tsx
Labels: upload, ui, config, documentation, assets

feat: 모바일 디바이스 테스트용 스크립트 추가
  package.json
Labels: config, documentation

refactor: 파일명을 케밥케이스로 통일
  src/app/label/upload/page.tsx
  src/features/upload/components/upload-guide.tsx
  src/features/upload/hooks/use-image-upload.tsx
  src/features/upload/upload-container.tsx
Labels: upload, labeling, ui, pages, hooks, config, documentation

refactor: 시맨틱 마크업 개선
  src/features/upload/components/upload-guide.tsx
Labels: upload, ui, config, documentation

feat: 사진 등록 API 연동
  src/features/upload/page.tsx
  src/lib/path.ts
Labels: upload, utils, config, documentation

refactor: BottomCTA 버튼 조건부 렌더링 단순화
  src/app/label/upload/_components/upload-container.tsx
Labels: upload, labeling, config, documentation

refactor: 사진 등록 가이드 섹션 컴포넌트화
  src/features/upload/components/.gitkeep
  src/features/upload/components/UploadGuide.tsx
  src/features/upload/page.tsx
Labels: upload, ui, config, documentation

refactor: 이미지 업로드 로직 useImageUpload 훅으로 분리
  src/features/upload/hooks/.gitkeep
  src/features/upload/hooks/useImageUpload.tsx
  src/features/upload/page.tsx
Labels: upload, hooks, config, documentation

fix: searchParams가 없을 경우를 대비해 옵셔널 처리 적용
  src/app/label/upload/page.tsx
  src/features/upload/page.tsx
Labels: upload, labeling, pages, config, documentation

feat: 모바일 디바이스 테스트용 스크립트 추가
  package.json
Labels: config, documentation

refactor: 업로드 가이드 이미지 대체
  public/images/upload/upload-guide-1.png
  public/images/upload/upload-guide-1.svg
  public/images/upload/upload-guide-2.png
  public/images/upload/upload-guide-2.svg
  public/images/upload/upload-guide-3.png
  public/images/upload/upload-guide-3.svg
  src/features/upload/components/UploadGuide.tsx
  src/features/upload/page.tsx
Labels: upload, ui, config, documentation, assets

refactor: 시맨틱 마크업 및 가이드 문구 렌더링 개선
  src/features/upload/components/upload-guide.tsx
Labels: upload, ui, config, documentation

feat: 사진 업로드 기능 구현
  public/images/upload/close.svg
  src/features/upload/page.tsx
Labels: upload, config, documentation, assets

refactor: UploadContainer를 페이지 전용 디렉토리로 이동
  src/app/label/upload/_components/upload-container.tsx
  src/app/label/upload/page.tsx
Labels: upload, labeling, pages, config, documentation

refactor: 망치 이미지 public/images/common으로 이동
  public/images/common/icon-hammer.svg
Labels: config, documentation, assets

.github/labeler.yml:

# =============================================================================
# GitHub Auto-Labeler 설정
# PR에서 변경된 파일 경로에 따라 자동으로 라벨을 부여합니다.
# =============================================================================

# 📸 이미지 업로드 관련 기능
upload:
  - "src/features/upload/**"
  - "src/components/**/upload/**"
  - "src/app/**/upload/**"

# 📝 라벨링 관련 기능
labeling:
  - "src/features/label/**"
  - "src/components/**/label/**"
  - "src/app/label/**"

# 🏆 기여 정보 관련 기능
contribution:
  - "src/features/contribution/**"
  - "src/components/**/contribution/**"

# 🔗 API 관련
api:
  - "src/app/api/**"
  - "src/lib/api/**"
  - "src/types/api/**"

# 🎨 UI 컴포넌트
ui:
  - "src/components/**"
  - "src/features/**/components/**"

# 📄 페이지 및 라우팅
pages:
  - "src/app/**/page.tsx"
  - "src/app/**/layout.tsx"
  - "src/app/**/loading.tsx"
  - "src/app/**/error.tsx"
  - "src/app/**/not-found.tsx"

# 🎯 타입 정의
types:
  - "src/types/**"
  - "**/*.d.ts"
  - "src/**/*types.ts"
  - "src/**/*.types.ts"
  - "src/features/**/types/**"

# 🔄 커스텀 훅
hooks:
  - "src/hooks/**"
  - "src/features/**/hooks/**"

# 🛠️ 유틸리티 & 라이브러리
utils:
  - "src/lib/**"

# 🎨 스타일링
styles:
  - "src/app/globals.css"
  - "src/**/*.css"
  - "src/**/*.scss"
  - "src/**/*.module.*"
  - "tailwind.config.*"
  - "postcss.config.*"

# ⚙️ 설정 파일
config:
  - "next.config.*"
  - "package*.json"
  - "tsconfig*.json"
  - "eslint.config.*"
  - ".env*"
  - "!.env.example"

# 📚 문서 (기존 documentation 라벨 활용)
documentation:
  - "README.md"
  - "CHANGELOG*.md"
  - "docs/**"
  - "**/*.md"
  - "!README-DEPLOYMENT.md"
  - "!.github/**/*.md"

# 🚀 배포 & CI/CD
deployment:
  - ".github/workflows/**"
  - "Dockerfile*"
  - "docker-compose*"
  - "**/deploy*"
  - "README-DEPLOYMENT.md"

# 🧪 테스트
test:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "**/__tests__/**"
  - "test/**"
  - "tests/**"

# 🖼️ 정적 파일
assets:
  - "public/**"
  - "src/assets/**"
  - "**/*.svg"
  - "**/*.png" 
  - "**/*.jpg"
  - "**/*.jpeg"
  - "**/*.gif"
