Repository Dongjeop-lab/dongjeop-front, pull requests merged in 2025-10, with the labels that each got.

#32 feat: 완료 페이지 인터렉션 적용
  public/images/finish/stairs-finish-1.svg
  public/images/finish/stairs-finish.svg
  src/app/label/[imageKey]/finish/_components/circular-progress.tsx
  src/app/label/[imageKey]/finish/_components/finish-step.tsx
  src/app/label/[imageKey]/finish/_components/finish-title.tsx
  src/app/label/[imageKey]/finish/page.tsx
  src/lib/constants.ts
Labels: documentation, pages, utils, config, assets, labeling

#35 feat: textfield 컴포넌트 제작
  src/app/globals.css
  src/components/ui/button-list.tsx
  src/components/ui/text-field.tsx
Labels: documentation, ui, styles, config

#37 refactor: 라벨링 파일 이동
  src/app/label/[imageKey]/_components/label-step-layout.tsx
  src/app/label/[imageKey]/_components/label-step/index.ts
  src/app/label/[imageKey]/_components/label-step/label-step1.tsx
  src/app/label/[imageKey]/_components/label-step/label-step2.tsx
  src/app/label/[imageKey]/_components/label-step/label-step3.tsx
  src/app/label/[imageKey]/_types/label-option.ts
  src/app/label/[imageKey]/_types/label-step.ts
  src/app/label/[imageKey]/page.tsx
  src/features/label/hooks/.gitkeep
Labels: documentation, pages, config, labeling

#38 feat: 랜딩 홈 페이지 생성
  public/images/home/event-reward-image.png
  public/images/home/introduction-image.png
  src/app/_components/bottom-button.tsx
  src/app/_components/event-description.tsx
  src/app/_components/introduction.tsx
  src/app/_components/notice-card.tsx
  src/app/_components/reward-card.tsx
  src/app/globals.css
  src/app/page.tsx
  src/features/upload/types/.gitkeep
  src/lib/path.ts
Labels: documentation, pages, utils, styles, config, assets

#42 feat: 이벤트 입력 페이지 제작
  src/app/label/[imageKey]/_components/event-form-section.tsx
  src/app/label/[imageKey]/_components/event-intro-section.tsx
  src/app/label/[imageKey]/_components/label-step/event-step.tsx
  src/app/label/[imageKey]/_components/label-step/index.ts
  src/app/label/[imageKey]/_components/notice-card.tsx
  src/app/label/[imageKey]/_components/reward-card.tsx
Labels: documentation, config, labeling

#51 chore: develop 브랜치 PR에 CodeRabbit 리뷰 활성화
  .coderabbit.yaml
Labels: documentation, config

#52 chore: develop 브랜치 PR에 CodeRabbit 리뷰 활성화
  .coderabbit.yaml
Labels: documentation, config

#47 feat: 이벤트 입력 내 약관 추가 및 문구 수정
  src/app/label/[imageKey]/_components/event-form-section.tsx
Labels: documentation, config, labeling

#48 feat: 약관 바텀시트 제작
  package-lock.json
  package.json
  src/app/globals.css
  src/app/label/upload/_components/terms.bottom-sheet.tsx
  src/components/ui/bottom-sheet.tsx
  src/components/ui/portal.tsx
Labels: documentation, ui, styles, config, labeling, upload

#53 feat: 링크 공유를 통한 유입 경로 추적 기능 구현
  .coderabbit.yaml
  package-lock.json
  package.json
  src/app/label/[imageKey]/finish/page.tsx
  src/app/label/upload/_components/upload-container.tsx
  src/app/label/upload/_hooks/use-image-upload.tsx
  src/app/label/upload/page.tsx
  src/app/layout.tsx
  src/lib/path.ts
  src/lib/queryParams.ts
  src/types/api/upload.ts
  src/types/common.ts
Labels: documentation, api, pages, types, utils, config, labeling, upload

#54 feat: 퀴즈 풀이 완료 페이지 제작
  public/images/quiz/heart.svg
  src/app/globals.css
  src/app/label/upload/_components/terms-bottom-sheet.tsx
  src/app/quiz/_components/step/index.tsx
  src/app/quiz/_components/step/quiz-finish-step.tsx
  src/app/quiz/page.tsx
  src/lib/path.ts
Labels: documentation, pages, utils, styles, config, assets, labeling, upload

#55 feat: 이미지 출처 감지 기능 추가
  src/app/label/upload/_components/upload-container.tsx
  src/app/label/upload/_hooks/use-image-upload.tsx
  src/types/api/upload.ts
Labels: documentation, api, types, config, labeling, upload

#56 feat: 약관 페이지 추가
  package-lock.json
  src/app/globals.css
  src/app/label/[imageKey]/_components/event-form-section.tsx
  src/app/label/upload/_components/terms-bottom-sheet.tsx
  src/app/terms/_components/terms-content.tsx
  src/app/terms/_components/terms-header.tsx
  src/app/terms/_constants/copyright-portrait.ts
  src/app/terms/_constants/feedback-collection.ts
  src/app/terms/_constants/image-collection.ts
  src/app/terms/_constants/privacy-anonymization.ts
  src/app/terms/_constants/research-project.ts
  src/app/terms/_constants/reward-collection.ts
  src/app/terms/copyright-portrait/page.tsx
  src/app/terms/feedback-collection/page.tsx
  src/app/terms/image-collection/page.tsx
  src/app/terms/layout.tsx
  src/app/terms/privacy-anonymization/page.tsx
  src/app/terms/research-project/page.tsx
  src/app/terms/reward-collection/page.tsx
  src/app/terms/types.ts
  src/lib/path.ts
Labels: documentation, pages, types, utils, styles, config, labeling, upload

#58 feat: 카드 캡쳐 훅 제작
  package-lock.json
  package.json
  src/app/label/[imageKey]/finish/_hooks/use-card-capture.tsx
Labels: documentation, config, labeling
