Repository Dongjeop-lab/dongjeop-front, pull requests merged in 2025-09, with the labels that each got.

#9 feat: tailwind theme color(Button을 위함) 추가
  src/app/globals.css
Labels: documentation, styles, config

#14 chore: ci/cd 및 be 연동 테스트를 위한 테스트 페이지 구축
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Dockerfile
  docker-compose.yml
  next.config.ts
  package.json
  src/app/api/client.ts
  src/app/page.tsx
Labels: documentation, api, pages, config, deployment

#20 fix: CodeRabbit profile 설정 파싱 오류 수정
  .coderabbit.yaml
Labels: documentation, config

#23 feat:라벨링 페이지 UI 작업
  package-lock.json
  package.json
  src/app/label/[imageKey]/.gitkeep
  src/app/label/[imageKey]/page.tsx
  src/components/ui/bottom-cta.tsx
  src/components/ui/button-list.tsx
  src/features/label/components/label-step-layout.tsx
  src/features/label/components/label-step/label-step1.tsx
  src/features/label/components/label-step/label-step2.tsx
  src/features/label/components/label-step/label-step3.tsx
  src/features/label/types/label-step.ts
  src/lib/path.ts
Labels: documentation, ui, pages, types, utils, config, labeling

#30 chore: 포트 변경으로 인한 개발환경 proxy 추가
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Dockerfile
  docker-compose.yml
  next.config.ts
  package-lock.json
  package.json
  src/app/api/client.ts
  src/app/api/label/[imageKey]/.gitkeep
  src/app/api/upload/.gitkeep
  src/app/page.tsx
Labels: documentation, api, pages, config, deployment

#28 feat: 라벨링 데이터 조회 및 위치 이동 API 연동
  .env.example
  next.config.ts
  package-lock.json
  src/app/label/[imageKey]/page.tsx
  src/features/label/components/label-step-layout.tsx
  src/features/label/components/label-step/label-step1.tsx
  src/features/label/components/label-step/label-step2.tsx
  src/features/label/components/label-step/label-step3.tsx
  src/features/label/types/label-step.ts
  src/lib/constants.ts
  src/lib/query-key.ts
  src/types/api/label.ts
Labels: documentation, ui, api, pages, types, utils, config, labeling
